body {
  /* text-align: center; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  background-color: rgb(19, 96, 205);
}

.login-form, .signup-form {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  margin: auto;
  background-color: rgb(27, 138, 185);
}

.login-form input, .signup-form input {
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
}

.login-form input:focus, .signup-form input:focus {
  background-color: rgb(180, 180, 180);
}

.todo {
  float: right;
}

.user-todos, .group-todos {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}

nav {
  width: fit-content;
  border: 1px solid #555;
}

nav a {
  display: block;
  float: left;
  text-decoration: none;
  padding: 1px;
  background-color: rgba(211, 145, 22, 0.5);
  text-align: center;
  border: 1px solid #555;
  color: white;
}

nav a.active {
  background-color: black;
}

nav a.hover {
  background-color: #ddd;
  color: black;
}

.group {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.test-button:hover {
  animation-name: test-animation;
  animation-duration: 1s;
}

@keyframes test-animation {
  5% {transform: skew(20deg, 10deg);}
  10% {transform: skew(0deg, 0deg);}
  15% {transform: skew(-20deg, -10deg);}
  20% {transform: skew(0deg, 0deg);}
  25% {transform: skew(20deg, 10deg);}
  30% {transform: skew(0deg, 0deg);}
  35% {transform: skew(-20deg, -10deg);}
  40% {transform: skew(0deg, 0deg);}
  45% {transform: skew(20deg, 10deg);}
  50% {transform: skew(0deg, 0deg);}
  55% {transform: skew(-20deg, -10deg);}
  60% {transform: skew(0deg, 0deg);}
  65% {transform: skew(20deg, 10deg);}
  70% {transform: skew(0deg, 0deg);}
  75% {transform: skew(-20deg, -10deg);}
  80% {transform: skew(0deg, 0deg);}
  85% {transform: skew(20deg, 10deg);}
  90% {transform: skew(0deg, 0deg);}
  95% {transform: skew(-20deg, -10deg);}
  100% {transform: skew(0deg, 0deg);}
}

.error {
  color: red;
}