body {
  text-align: center;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-position: initial;
  padding-top: 15%;
  color: white;
}

.todo {
  float: right;
}

.user-todos, .group-todos {
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
}

nav {
  margin: 0;
  padding: 0;
  width: 180px;
  border: 1px solid #555;
  float: top;
}

a {
  display: block;
  padding: 8px;
  background-color: rgba(211, 145, 22, 0.5);
  text-align: center;
  border: 1px solid #555;
  color: black;
}
a.hover {
  background-color: gray;
}

.group {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.test-button:hover {
  animation-name: test-animation;
  animation-duration: 1s;
}

@keyframes test-animation {
  5% {transform: skew(20deg, 10deg);}
  10% {transform: skew(0deg, 0deg);}
  15% {transform: skew(-20deg, -10deg);}
  20% {transform: skew(0deg, 0deg);}
  25% {transform: skew(20deg, 10deg);}
  30% {transform: skew(0deg, 0deg);}
  35% {transform: skew(-20deg, -10deg);}
  40% {transform: skew(0deg, 0deg);}
  45% {transform: skew(20deg, 10deg);}
  50% {transform: skew(0deg, 0deg);}
  55% {transform: skew(-20deg, -10deg);}
  60% {transform: skew(0deg, 0deg);}
  65% {transform: skew(20deg, 10deg);}
  70% {transform: skew(0deg, 0deg);}
  75% {transform: skew(-20deg, -10deg);}
  80% {transform: skew(0deg, 0deg);}
  85% {transform: skew(20deg, 10deg);}
  90% {transform: skew(0deg, 0deg);}
  95% {transform: skew(-20deg, -10deg);}
  100% {transform: skew(0deg, 0deg);}
}

.error {
  color: red;
}