body {
  text-align: center;
  padding: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.complete {
  /* text-decoration: line-through; */
  background-color: blue;
}

.to-do-form {
  width: 40%;
  /* background-color: blue; */
  float: left;
  padding: 10px;
}

/* .to-do-creator {
  width: 100%;
  float: left;
} */

.to-do-submit {
  float: left;
}

.to-do-content {
  padding: 5px;
}